@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

footer {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: #5eaed9;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-media-icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.social-media-icons li {
  list-style: none;
}

.social-media-icons li a {
  font-size: 3em;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-media-icons li a:hover {
  transform: translateY(-10px);
}
